.container {
  display: flex;
  justify-content: space-between;
  max-width: 1840px;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: 0px 5px 15px #00347026;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 770px;
  min-width: 500px;
  padding: 135px 30px;
}

.logo {
  margin: 0 auto;
}

.title {
  margin-top: 42px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-top: 50px;
}

.form label {
  margin-top: 41px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
}

.form input {
  height: 42px;
  border: 1px solid #0d242e;
  border-radius: 5px;
  font-weight: 500;
  padding: 12px;
}

.showPasswordContainer {
  position: relative;
}

.showPassword {
  height: 16px;
  position: absolute;
  bottom: 13px;
  right: 13px;
  fill: #949494;
}

.showPassword:hover {
  cursor: pointer;
  fill: #08c642;
}

.passwordVisible {
  fill: #08c642;
}

.recoverPassword {
  margin-top: 8px;
  text-align: right;
  font-size: 12px;
}

.recoverPassword a {
  color: #1076b5;
}

.btnSubmit {
  margin-top: 66px;
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #08c642;
  border: none;
  border-radius: 5px;
}

.btnSubmit:disabled {
  cursor: default;
  background-color: #83e2a0;
}

.changeForm {
  margin-top: 55px;
  font-size: 16px;
  text-align: center;
}

.changeForm a {
  color: #1076b5;
  text-transform: uppercase;
  font-weight: 700;
}

.imageSection {
  flex-basis: 1070px;
}

.imageSection img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  .container {
    margin: 0;
    background: url("https://i.ibb.co/stJjMr0/auth-backgorund.png") no-repeat;
    background-size: cover;
  }

  .imageSection {
    display: none;
  }

  .controls {
    padding: 0;
    height: 100vh;
    min-width: auto;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  .form {
    max-width: 92%;
    padding: 34px 14px;
    margin: 0;
    background-color: #fff;
    border-radius: 8px;
    opacity: 0.85;
  }

  .logo {
    width: 280px;
    height: 61px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
  }

  .title {
    margin: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 460px) {
  .logo {
    width: 180px;
    height: 30px;
  }
}

@media only screen and (max-height: 720px) {
  .form label,
  .btnSubmit,
  .changeForm {
    margin-top: 20px;
  }
}
