.bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
  margin-top: 40px;
}

@media only screen and (max-width: 1380px) {
  .bookList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
