.bookPreview {
  display: flex;
  justify-content: space-between;
  flex: 1;
  max-width: 860px;
  min-width: 650px;
  height: 177px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000017;
}

.image {
  width: 125px;
  height: 177px;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button {
  border: none;
  background-color: #1076b5;
  /* border-radius: 10px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: #08c642;
}

.details {
  width: 100%;
  padding: 0px 26px;
}

.details > *,
.timestamps > * {
  margin: 20px 0 0 0;
}

.details h4 {
  font-size: 18px;
  font-weight: bold;
  color: #0d242e;
  text-transform: uppercase;
}

.details a {
  text-decoration: none;
  font-weight: bold;
  color: #1076b5;
}

.details span {
  font-weight: bold;
}

.timestamps {
  display: flex;
  margin: 0;
  padding: 0;
}

.timestamps p:first-child {
  margin-right: 45px;
}
